extends includes/layout.pug


block content
    section(id="sec-blog")
        h1(class="m-title-2")
            | بعد 10 سنوات تحديثات وندوز 7 على وشك الانتهاء
        div(class="co")
            img(src=img+"web.jpg", alt="" class="wow bounceInRight" data-wow-duration="2s" data-wow-delay="0s") 
            p
                | إذا كنت من مستخدمي نظام التشغيل ويندوز 7 فحتماً قد وصلك آخر تحديث والذي يهدف لتحذير مستخدمي ويندوز 7 من إنتهاء التحديثات الأمنية للنظام فبعد شهر يناير من العام القادم لن تطلق مايكروسوفت أية تحديثات لنظامها ويندوز 7 والذي تم استخدامه على مدار العشر سنوات الأخيرة حيث ظهر لأول مرة في عام 2009 وتم بيع أكثر من 100 مليون نسخة منه في أول ستة أشهر فقط من انطلاقه.هذا وقد تربع ويندوز 7 على عرش أنظمة تشغيل ويندوز لعدة سنوات فقد فشل نظامي ويندوز 8 وويندوز 8.1 في جذب المستخدمين لهما بينما حقق ويندوز 10 نجاحاً يتفوق عليهما ويتفوق أيضاً على ويندوز 7 بفارق يقرب من الـ 3 % لصالح ويندوز 10.
                | ولكن لن نستطيع إهمال نسبة مستخدمي ويندوز 7  ومعظمهم من الشركات لذلك فمايكروسوفت تحاول إقناع تلك الشركات بترقية ويندوز 7  لويندوز 10 خاصةً ونسبتهم تقرب من ثلث مستخدمي أنشطة تشغيل ويندوز.
  

                        
