extends includes/layout.pug


block content
    section(id="sec-some-of-our-works")
        h2(class="m-title-2")
            | اعمالنا
        .container
            .row
                -for(let i = 0; i<9; i++)
                    +mainCoSomeOfOurWorks
            +pagination
  

                        
